#!/usr/bin/env python3

PACKAGE = "follow_lane"

from dynamic_reconfigure.parameter_generator_catkin import *

gen = ParameterGenerator()

#PID configuration
gen.add("p", double_t , 0, "p", 5.0, 0, 10)
gen.add("i", double_t , 0, "i", 5.0, 0, 10)
gen.add("d", double_t , 0, "d", 3.0, 0, 10)
gen.add("max_vel", double_t , 0, "max velocity", 0.06, 0, 1)

exit(gen.generate(PACKAGE, "control_lane_node", "ControlLane"))