#!/usr/bin/env python3

PACKAGE = "follow_lane"

from dynamic_reconfigure.parameter_generator_catkin import *

gen = ParameterGenerator()

# White line HSV thresholds
white_group = gen.add_group("White Line Detection")
white_group.add("white_hl", int_t, 0, "White hue low", 0, 0, 255)
white_group.add("white_hh", int_t, 0, "White hue high", 255, 0, 255)
white_group.add("white_sl", int_t, 0, "White saturation low", 0, 0, 255)
white_group.add("white_sh", int_t, 0, "White saturation high", 41, 0, 255)
white_group.add("white_vl", int_t, 0, "White value low", 161, 0, 255)
white_group.add("white_vh", int_t, 0, "White value high", 255, 0, 255)

# Yellow line HSV thresholds
yellow_group = gen.add_group("Yellow Line Detection")
yellow_group.add("yellow_hl", int_t, 0, "Yellow hue low", 15, 0, 255)
yellow_group.add("yellow_hh", int_t, 0, "Yellow hue high", 60, 0, 255)
yellow_group.add("yellow_sl", int_t, 0, "Yellow saturation low", 60, 0, 255)
yellow_group.add("yellow_sh", int_t, 0, "Yellow saturation high", 255, 0, 255)
yellow_group.add("yellow_vl", int_t, 0, "Yellow value low", 120, 0, 255)
yellow_group.add("yellow_vh", int_t, 0, "Yellow value high", 255, 0, 255)

# Duck detection HSV thresholds (if needed)
duck_group = gen.add_group("Duck Detection")
duck_group.add("duck_hl", int_t, 0, "Duck hue low", 0, 0, 255)
duck_group.add("duck_hh", int_t, 0, "Duck hue high", 21, 0, 255)
duck_group.add("duck_sl", int_t, 0, "Duck saturation low", 220, 0, 255)
duck_group.add("duck_sh", int_t, 0, "Duck saturation high", 255, 0, 255)
duck_group.add("duck_vl", int_t, 0, "Duck value low", 200, 0, 255)
duck_group.add("duck_vh", int_t, 0, "Duck value high", 255, 0, 255)

# Lane image perspective transform points
perspective_group = gen.add_group("Perspective Transform")
perspective_group.add("top_left_x", int_t, 0, "Top left X", 159, 0, 1000)
perspective_group.add("top_left_y", int_t, 0, "Top left Y", 218, 0, 1000)
perspective_group.add("top_right_x", int_t, 0, "Top right X", 441, 0, 1000)
perspective_group.add("top_right_y", int_t, 0, "Top right Y", 218, 0, 1000)
perspective_group.add("bottom_left_x", int_t, 0, "Bottom left X", 606, 0, 1000)
perspective_group.add("bottom_left_y", int_t, 0, "Bottom left Y", 382, 0, 1000)
perspective_group.add("bottom_right_x", int_t, 0, "Bottom right X", -29, -100, 1000)
perspective_group.add("bottom_right_y", int_t, 0, "Bottom right Y", 382, 0, 1000)

exit(gen.generate(PACKAGE, "detect_lane_node", "DetectLane"))