# Copy this file, rename it to .env, and fill in your specific IP addresses.

# The IP address of the Duckiebot on the network
DUCKIEBOT_IP=192.168.90.229

# The IP address of YOUR laptop on the network
HOST_IP=192.168.90.182

# The name of the Duckiebot you are connecting to
VEHICLE_NAME=trick
