# This file is for reference only. 
# Do NOT rename this to .env or edit it.
# Use the start.sh script to launch the container, which will auto-populate these variables.

DUCKIEBOT_IP=autodiscovered_by_script
HOST_IP=autodiscovered_by_script
VEHICLE_NAME=trick