# Copy this file to `.env`

### These are default values, no need to change them, since they are dynamically figured out by the start.sh script
DUCKIEBOT_IP=192.168.90.229
HOST_IP=192.168.90.192
VEHICLE_NAME=trick  # Make sure you actually set the correct VEHICLE_NAME in the start.sh script
